openapi: 3.0.1
info:
  title: Faros AI Account Events API
  description: REST surface for the Faros AI engineering-operations intelligence platform. Covers account/identity, graph management, event and data ingestion, inbound webhooks, and the GraphQL query endpoint over the Faros canonical model. All requests are authenticated with a Faros API key passed in the Authorization header. Endpoint paths are modeled from the public Faros documentation, faros-js-client, and faros-events-cli; verify against the Faros API reference for exact request/response schemas.
  termsOfService: https://www.faros.ai/legal/terms-of-service
  contact:
    name: Faros AI Support
    email: support@faros.ai
    url: https://docs.faros.ai
  version: '1.0'
servers:
- url: https://prod.api.faros.ai
  description: Faros production API
security:
- apiKey: []
tags:
- name: Events
paths:
  /graphs/{graph}/events:
    parameters:
    - $ref: '#/components/parameters/graph'
    post:
      operationId: sendEvents
      tags:
      - Events
      summary: Report CI/CD and test events to a graph.
      description: Reports CI (build), CD (deployment), and TestExecution events into the graph. This is the surface used by faros-events-cli and the Faros CI/CD GitHub Action to power DORA and delivery metrics.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventBatch'
      responses:
        '200':
          description: OK
components:
  schemas:
    EventBatch:
      type: object
      properties:
        origin:
          type: string
        events:
          type: array
          items:
            type: object
            additionalProperties: true
            description: A CI, CD, or TestExecution event payload.
  parameters:
    graph:
      name: graph
      in: path
      required: true
      description: The name of the graph, e.g. "default".
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: Faros API key created in the Faros application under Settings -> API Keys. Passed directly in the Authorization header.
