openapi: 3.0.1
info:
  title: Faros AI Account Webhooks API
  description: REST surface for the Faros AI engineering-operations intelligence platform. Covers account/identity, graph management, event and data ingestion, inbound webhooks, and the GraphQL query endpoint over the Faros canonical model. All requests are authenticated with a Faros API key passed in the Authorization header. Endpoint paths are modeled from the public Faros documentation, faros-js-client, and faros-events-cli; verify against the Faros API reference for exact request/response schemas.
  termsOfService: https://www.faros.ai/legal/terms-of-service
  contact:
    name: Faros AI Support
    email: support@faros.ai
    url: https://docs.faros.ai
  version: '1.0'
servers:
- url: https://prod.api.faros.ai
  description: Faros production API
security:
- apiKey: []
tags:
- name: Webhooks
paths:
  /webhooks/{webhook_id}/events:
    parameters:
    - name: webhook_id
      in: path
      required: true
      description: The id from the webhook definition created in the Faros app.
      schema:
        type: string
    post:
      operationId: deliverWebhookEvents
      tags:
      - Webhooks
      summary: Deliver events to a configured webhook.
      description: Inbound webhook endpoint. Each webhook definition in the Faros application provides a unique URL of this form; source systems POST their event payloads here for ingestion.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: Faros API key created in the Faros application under Settings -> API Keys. Passed directly in the Authorization header.
