openapi: 3.0.1
info:
  title: Faros AI Account API
  description: REST surface for the Faros AI engineering-operations intelligence platform. Covers account/identity, graph management, event and data ingestion, inbound webhooks, and the GraphQL query endpoint over the Faros canonical model. All requests are authenticated with a Faros API key passed in the Authorization header. Endpoint paths are modeled from the public Faros documentation, faros-js-client, and faros-events-cli; verify against the Faros API reference for exact request/response schemas.
  termsOfService: https://www.faros.ai/legal/terms-of-service
  contact:
    name: Faros AI Support
    email: support@faros.ai
    url: https://docs.faros.ai
  version: '1.0'
servers:
- url: https://prod.api.faros.ai
  description: Faros production API
security:
- apiKey: []
tags:
- name: Account
paths:
  /users/me:
    get:
      operationId: getCurrentUser
      tags:
      - Account
      summary: Get the current authenticated user.
      description: Returns the identity and account context associated with the API key used in the Authorization header.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
  /accounts:
    get:
      operationId: listAccounts
      tags:
      - Account
      summary: List accounts accessible to the caller.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        tenantId:
          type: string
    Account:
      type: object
      properties:
        accountId:
          type: string
        name:
          type: string
        type:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: Faros API key created in the Faros application under Settings -> API Keys. Passed directly in the Authorization header.
